<section class="inicio">
    <div class="container-inicio">
        <div class="left-wrapper">
            <div class="text-section">
                <div class="title">
                    <h1>Conheça o<br>Projeto <span>Ágape</span> !</h1>
                </div>
                <div class="subtext">
                    <p>
                        Uma iniciativa comprometida em levar para cada criança o amor de Deus, através de momentos repletos de diversão e alegria, com o objeto de impactá-los da melhor forma possivel.
                    </p>
                </div>
            </div>
            <div class="redirection">
                <app-redirect-button
                    locale="#"
                    text="Saiba Mais"
                >
    
                </app-redirect-button>
            </div>
        </div>
        <div class="right-section">
            <div class="background">
                <div class="img">
                    <img [ngSrc]="criancasImg" width="500" height="620" priority="">
                </div>
            </div>
        </div>
    </div>
</section>
