@import '../../../variables.scss';
:host {
  display: block;
  background-color: lighten($primary-color, 20%);
  .container {
    max-width: 1440px;
    padding: 3rem 24px;
    margin: 0 auto;
    .contact-container {
      width: 100%;
      display: flex;
      gap: 150px;
        .contact {
          max-width: 600px;
          margin: 0 auto;
          .title {
            text-align: center;
            color: #fff;
            h1 {
              font-size: 3rem;
            }
            p {
              font-size: 1.3rem;
              padding: 5px 0;
            }
          }
          p {
            margin-bottom: 15px;
            font-weight: 500;
          }
          form {
            display: flex;
            flex-direction: column;

            input[type="text"],
            input[type="email"] {
              height: 50px;
            }

            input[type="text"],
            input[type="email"],
            textarea {
              padding: 10px;
              margin-bottom: 15px;
              border-radius: 5px;

              border: none;
            }

            input:focus,
            textarea:focus {
              outline: 1px solid #555;
            }

            textarea {
              resize: none;
              font-size: .8rem;
              height: 70px;
            }

            button {
              padding: 10px;
              border-radius: 5px;
              background-color: #555;
              color: #fff;
              font-weight: 600;
              border: none;
              transition: .3s;
            }
            button:hover {
              background-color: #444;
            }
          }
        }

    }
  }
}

p, a {
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 768px) {
  :host {
    .container {
      .contact-container {
        .contact {
          .title {
            h1 {
              font-size: 2.3rem;
            }
            p {
              font-size: 1.1rem;
            }
          }
          form {
            input[type="email"] {
              height: 40px;
            }
          }
        }
      }
    }
  }
}
