<div class="container">
  <div class="left-wrapper">
    <img src="../../../assets/logo-principal.png" alt="">
    <div class="copyright">
      <p>Copyright © 2024 Projeto Ágape.<br>Todos os direitos reservados</p>
    </div>
    <div class="socials">
      <a href=""><lucide-icon name="instagram" strokeWidth="2"></lucide-icon></a>
    </div>
  </div>

  <div class="right-wrapper">
    <div class="links">
      <h2>Links</h2>
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/sobre">Sobre</a>
      <a routerLink="/projetos">Projetos</a>
      <a routerLink="/doacoes">Doações</a>
      <a routerLink="/contato">Contato</a>
    </div>
    <div class="address">
      <h2>Endereço</h2>
      <p>Rua dos Bobos, nº 0</p>
      <p>Bairro: Aldeota</p>
      <p>Fortaleza - CE</p>
      <p>CEP: 60000-000</p>
    </div>
    <div class="contact">
      <h2>Contato</h2>
      <p>Entre em contato conosco para mais informações sobre o Projeto Ágape.</p>
      <form>
        <input type="email" placeholder="E-mail">
        <textarea placeholder="Mensagem"></textarea>
        <button>Enviar</button>
      </form>
    </div>
  </div>
</div>
