<div class="container">
  <div class="contact-container">
      <div class="contact">
        <div class="title">
          <h1>Entre em contato conosco!</h1>
          <p>Saiba mais informações sobre o Projeto Ágape.</p>
        </div>
        <form (submit)="onSubmit($event)">
          <input type="email" placeholder="E-mail" id="email" required>
          <textarea placeholder="Mensagem" id="message" required></textarea>
          <button #buttonSubmit type="submit">Enviar</button>
        </form>
      </div>
  </div>
  <!-- <footer>
    <div class="copyright">
      <p>© 2024 Projeto Ágape. Todos os direitos reservados.</p>
      <p>Desenvolvido por <a href="">Aglis</a></p>
    </div>
    <div class="socials">
      <a href=""><lucide-icon name="instagram" strokeWidth="2"></lucide-icon></a>
    </div>
  </footer> -->
</div>
