<header>
    <h2>{{getData()?.title}}</h2>
    <button (click)="closeModal()">
        <img src="assets/icons/dialog/close.svg" alt="Botão para fechar o dialog">
    </button>
</header>

<div class="image-example">
    <img [src]="getData()?.srcMain" [alt]="getData()?.alt">
</div>

<mat-dialog-content>
    <h3>Descrição</h3>
    <div class="text-area">
        <p>{{getData()?.description?.text}}.</p>
        <p><strong>data:</strong> {{getData()?.description?.operatingDay}}</p>
    </div>
    <nav>
        <a [href]="getData()?.link?.href" target="_blank" class="link">
            {{ getData()?.link?.name}}
        </a>
    </nav>
</mat-dialog-content>
