<section class="sobre">
    <img src="../../../assets/line-wave.svg" alt="">
    <div class="container-sobre">
        <app-highlight-panel
            imageUrl="../../../assets/banner-projeto.jpeg"
            preTitle="Nossa Origem"
            title="A Missão do Projeto Ágape"
            subtext="Iniciado em 2019 por jovens do bairro, o Projeto Ágape surgiu com o objetivo de resgatar jovens envolvidos com drogas. Direcionados por uma nova missão, passamos a trabalhar com crianças que frequentavam a praça, proporcionando-lhes amor, diversão e alegria. Nosso foco é impactar positivamente cada criança da comunidade, vendo nossa missão crescer a cada encontro."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/impacto-dia-das-criancas.jpeg"
            preTitle="Do Coração da Comunidade"
            title="Nossa Jornada em Ação"
            subtext="Com o passar dos anos, o projeto cresceu e ganhou reconhecimento na comunidade. Além das atividades regulares, realizamos impactos ao longo do ano que são muito esperados por todos no bairro. Estes incluem o Especial de Páscoa, nosso evento de Natal e o grande Festival Comunitário realizado no Dia das Crianças."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imageUrl="../../../assets/voluntarios-projeto.jpeg"
            preTitle="Olhando para o Futuro"
            title="Nossos Próximos Passos"
            subtext="Atualmente, nosso propósito está se expandindo e nossa missão é abraçar ainda mais crianças em nossa comunidade por meio de trabalhos sociais e iniciativas que promovam seu bem-estar e desenvolvimento integral. Estamos comprometidos em ser uma luz de esperança e transformação na vida dessas crianças e suas famílias."
        >
        </app-highlight-panel>
        <img src="" alt="">
    </div>
</section>