<div class="container">
    <div class="container-activities">
        <h2>Nossas Atividades</h2>

        <div class="container-cards">
            @for(item of arrayActivities(); track item) {
                <div class="card">
                    <img
                        [src]="item.srcMain"
                        [alt]="item.alt"
                    >
                    <p>{{item.title}}</p>
                    <button (click)="openDialog(item)">Saiba Mais</button>
                </div>
            }
        </div>
    </div>
</div>
