@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #ff7a00;
$secondary-color: #ffc561;
$gray-color: #e5c7ba;
$black-color: #000;
$white-color: #edf2f4;